  
    body,.main-content {
        margin:0;
        padding:0;
        background-color: #eee;  /* fallback for old browsers */
        overflow: hidden;
       }
       .navbar{
        margin:20px;
        font-size: 20px;
        border-radius: 5px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
        background-color: #0a89a6;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right,#0a89a6, #0a89a6);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #0a89a6, #0a89a6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
       }
    
       .card{
         padding:10px;
         margin:15px;
       }
    


.home-main{
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
  scroll-behavior: smooth;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
}

.child{
  width: 100%;
  height: 100vh;
  scroll-snap-align: start;
}

.footer{
  position: inherit;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  background: #0a89a6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0a89a6, #0a89a6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0a89a6, #0a89a6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 }