  
    body,.main-content {
        width: 100%;
        background: #eee;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #eeeeee, #eeeeee);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #eeeeee, #eeeeee); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
       }
       .navbar{
        margin:20px;
        font-size: 20px;
        border-radius: 5px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
        background-color: #0a89a6;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right,#0a89a6, #0a89a6);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #0a89a6, #0a89a6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
       }
    
       .card{
         padding:10px;
         margin:15px;
       }
    
       .footer{
        background: #0a89a6;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #0a89a6, #0a89a6);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #0a89a6, #0a89a6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
       }
